body{
    background-color: #e0ffcc;
}

td{
    width: 100px;
    text-align: center;
}

#barra_pesquisa{
    text-align: right;
}

#logo{
    width: 200px;
}


.Img_produto{
    width: 250px;
}

.produto{
    width: 250px;
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}

.Nome_produto{
    max-width: 250px;
    overflow-wrap: break-word;
}