body{
    background-color: #e0ffcc;
}

td{
    width: 100px;
    text-align: center;
}

#barra_pesquisa{
    text-align: right;
}

#logo{
    width: 200px;
}

.produto{
    float: left;
}

.Img_produto{
    width: 200px;
}